<h1>My Emotion Logged: {{selectedEmotion.studentId}}</h1>

<h2>Emotion Info:</h2>
     <p>Emotion Image: {{selectedEmotion.emotionImage}}</p>
     <p>Emotion Score: {{selectedEmotion.score}}</p>
     <p>Emotion Status: {{selectedEmotion.emotionStatusl}}</p>
     <p>Emotion Color: {{selectedEmotion.emotionColor}}</p>
     <p>Activity Loved: {{selectedEmotion.activityLoved}}</p>
     <p>Activity Hates: {{selectedEmotion.parentLast}}</p>

	<button class="btn btn-info"><a ng-href="#/students/:studentId/emotions/edit{{selectedEmotion.id}}">Edit</a></button>
