
    <h1 id="new-student-header" class="center-align">{{title}}</h1>
    <div class="img"><img src="img/student-reading-2.png" width="100" class="responsive-img" id="student-reading-1" /></div>
    <div class="row" id="new-student-bg">
      <button class="btn btn-primary btn-lg col-xs-2" id="log" onclick="Materialize.showStaggeredList('#staggered-test')" ng-click="showSubject($scope)">Activity Completed</button><br>

    <div ng-show="viewSubj">
      <h3>Activity Student Completed: </h3>
      <ul id="staggered-test">
        <!-- aria-pressed="true" -->
    <li><button class="btn btn-primary btn-lg col-xs-2" type="button" id="math" ng-click="subjectLogged()"> Math </button></li>

      <li><button class="btn btn-primary btn-lg col-xs-2" type="button" id="english" ng-click="subjectLogged()"> English </button></li>

      <li><button class="btn btn-primary btn-lg col-xs-2" type="button" id="history" ng-click="subjectLogged()"> History </button></li>

      <li><button class="btn btn-primary btn-lg col-xs-2" type="button" id="science" ng-click="subjectLogged()"> Science </button></li>

      <li><button class="btn btn-primary btn-lg col-xs-2" type="button" id="gym" ng-click="subjectLogged()"> Gym </button></li>
      <li><button class="btn btn-primary btn-lg col-xs-2" type="button" id="Art" ng-click="subjectLogged()"> Art </button></li>
      <li><button class="btn btn-primary btn-lg col-xs-2" type="button" id="Study Hall" ng-click="subjectLogged()"> Study Hall </button></li>
      <li><button class="btn btn-primary btn-lg col-xs-2" type="button" id="Lunch" ng-click="subjectLogged()"> Lunch </button></li>
    </ul>
      </div>

     <button class="btn btn-primary btn-lg col-xs-2" id="log" onclick="Materialize.fadeInImage('#image-emotion')" ng-click="showEmotions()">Log My Emotions</button><br>
      <div ng-show="viewEmo">
        <ul id="image-emotion">
      <h3>I Feel :</h3><br>

          <li><div class="card">
              <div class="card-image waves-effect waves-block waves-light" id="happy" ng-click="count = count + 0; emotionsLogged()" ng-init="count=0">
                <img class="activator" src="http://res.cloudinary.com/emma/image/upload/v1490118358/happy-cat_qmfhvi.png" alt="happy" width="25">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">HAPPY!<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">EMOTION LOGGED! GOOD JOB!<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>

          </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="ready-to-learn" ng-click="count = count + 1; emotionsLogged()" ng-init="count=0">
          <img class="activator" src="http://res.cloudinary.com/emma/image/upload/v1483389881/giraffe-04_dbkqp6.svg" alt="ready-to-learn" width="25">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">READY TO LEARN!<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">EMOTION LOGGED! GOOD JOB!<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="excited" ng-click="count = count + 2; emotionsLogged()" ng-init="count=0">
          <img class="activator" src="http://res.cloudinary.com/emma/image/upload/v1490118358/excited-cat_txua0p.png" alt="excited" width="25">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">EXCITED!<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">EMOTION LOGGED! GOOD JOB!<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="focused" ng-click="count = count + 3; emotionsLogged()" ng-init="count=0">
          <img class="activator" src="http://res.cloudinary.com/emma/image/upload/v1483389881/giraffe-04_dbkqp6.svg" alt="focused" width="50">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Focused<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">EMOTION LOGGED! GOOD JOB!<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="calm" ng-click="count = count + 2; emotionsLogged()" ng-init="count=0">
          <img class="activator" src="http://res.cloudinary.com/emma/image/upload/v1490118358/calm-cat_lbm8b0.png" alt="calm" width="50">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Calm<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">EMOTION LOGGED! GOOD JOB!<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="okay" ng-click="count = count + 5; emotionsLogged()">
          <img class="activator" src="http://res.cloudinary.com/emma/image/upload/v1490118358/okay-cat_gythrb.png" alt="okay" width="50">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Okay<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">EMOTION LOGGED! <br> GOOD JOB!<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="bored" ng-click="count = count + 6; emotionsLogged()">
          <img class="activator" src="http://res.cloudinary.com/emma/image/upload/v1483389883/giraffe-05_zr2lxk.svg" alt="bored" width="50">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">bored<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">EMOTION LOGGED! GOOD JOB!<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="worried" ng-click="count = count + 7; emotionsLogged()">
          <img class="activator" src="http://res.cloudinary.com/emma/image/upload/v1483389886/giraffe-06_efx9cn.svg" alt="worried" width="50">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Worried<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">EMOTION LOGGED! GOOD JOB!<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="frustrated" ng-click="count = count + 8; emotionsLogged()">
          <img class="activator" src="http://res.cloudinary.com/emma/image/upload/v1483389881/giraffe-04_dbkqp6.svg" alt="frustrated" width="50">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Frustrated<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">EMOTION LOGGED! GOOD JOB!<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="angry" ng-click="count = count + 9; emotionsLogged()">
          <img class="activator" src="http://res.cloudinary.com/emma/image/upload/v1483389881/giraffe-09_vhk2sw.svg" alt="angry" width="50">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">ANGRY!<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">EMOTION LOGGED! GOOD JOB!<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="out-of-control" ng-click="count = count + 10; emotionsLogged()">
          <img class="activator" src="http://res.cloudinary.com/emma/image/upload/v1483389882/giraffe-08_iqvhjf.svg" alt="out-of-control" width="50">
        </div>
        <div class="card-content red accent-4">
          <span class="card-title activator grey-text text-darken-4">OUT OF CONTROL<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">EMOTION LOGGED! GOOD JOB!<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div></li>
</ul>
    <p>Emotions Total For Today: {{ count }}</p>
    <p>Total Emotions Logged Today: {{ counter }}</p>

    </div>

    <!-- manual entry starts -->


    <div class="form-group">
      <i class="material-icons prefix">account_circle</i>
        <label>Student Name:
        <input type="text" ng-model="newEmotion.assignedTo">
        </label><br>
      </div>

    <div class="form-group">
      <i class="material-icons prefix">insert_photo</i>
      <label for="Emotion Image">Emotion Image</label>
      <input type="text" class="form-control" placeholder="..." ng-model="newEmotion.image">
    </div>

    <!-- <div class="form-group">
        <label>Emotion Type:</label>
        <input type="text" class="form-control" placeholder="..." ng-model="newEmotion.emotionName">
    </div> -->


    <div class="form-group">
        <i class="material-icons prefix">today</i>
        <label>Date Completed:</label>
        <input type="date" id="date-picker" name="input" ng-model="newEmotion.dateCompleted " placeholder="yyyy-MM-dd" min="2017-01-01" max="2020-12-31" required />
    </div>


    <div class="form-group">
        <i class="material-icons prefix">receipt</i>
        <label>Activity Completed:</label>
        <input type="text" class="form-control" placeholder="..." ng-model="newEmotion.activityCompleted">
    </div>

    <div class="form-group">
        <i class="material-icons prefix">child_care</i>
        <label>Emotions Total For Today: </label>
        <input ng-value="count" id="{{count}}" type="text" name="newEmotion.score" ng-change="count" class="form-control" placeholder="{{ count }}" ng-model="newEmotion.score">
    </div>
<div>
    <h3>Total Emotions Logged Today: {{ counter }}</h3>

    <h3>Student Progress Counter: </h3>

    <progress class="progress" value="{{count}}" max="50">
      Emotion Tracker: {{count}}
  </progress>

  <progress class="progress" value="{{counter}}" max="20">
      Activies Completed: {{counter}}
  </progress>


    <button type="submit" id="log" class="btn btn-primary btn-lg col-xs-2" ng-click="addNewEmotion()">{{btnText}}</button>
