
    <h1 id="new-student-header" class="center-align">{{title}}</h1>
    <div class="img"><img src="img/student-reading-2.png" width="100" class="responsive-img" id="student-reading-1" /></div>
    <div class="row" id="new-student-bg">
      <button class="btn btn-primary btn-lg col s12 m6 l4 #ffb74d orange lighten-2 valign" id="log" onclick="Materialize.showStaggeredList('#staggered-test')" ng-click="showSubject($scope)">Activity Completed</button><br>

    <div ng-show="viewSubj">
      <h3 id="card-styles">Activity Student Completed: </h3>
      <ul id="staggered-test">
        <!-- aria-pressed="true" -->
    <li><button class="btn btn-primary btn-lg col s12 m6 l4 #ffb74d orange lighten-2 valign" type="button" id="math" ng-click="subjectLogged()"> Math </button></li>

      <li><button class="btn btn-primary btn-lg col s12 m6 l4 #ffb74d orange lighten-2 valign" type="button" id="english" ng-click="subjectLogged()"> English </button></li>

      <li><button class="btn btn-primary btn-lg col s12 m6 l4 #ffb74d orange lighten-2 valign" type="button" id="history" ng-click="subjectLogged()"> History </button></li>

      <li><button class="btn btn-primary btn-lg col s12 m6 l4 #ffb74d orange lighten-2 valign" type="button" id="science" ng-click="subjectLogged()"> Science </button></li>

      <li><button class="btn btn-primary btn-lg col s12 m6 l4 #ffb74d orange lighten-2 valign" type="button" id="gym" ng-click="subjectLogged()"> Gym </button></li>
      <li><button class="btn btn-primary btn-lg col s12 m6 l4 #ffb74d orange lighten-2 valign" type="button" id="Art" ng-click="subjectLogged()"> Art </button></li>
      <li><button class="btn btn-primary btn-lg col s12 m6 l4 #ffb74d orange lighten-2 valign" type="button" id="Study Hall" ng-click="subjectLogged()"> Study Hall </button></li>
      <li><button class="btn btn-primary btn-lg col s12 m6 l4 #ffb74d orange lighten-2 valign" type="button" id="Lunch" ng-click="subjectLogged()"> Lunch </button></li>
    </ul>
      </div>
<br><br>
     <button class="btn btn-primary btn-lg col s12 m6 l4 #ffb74d orange lighten-2 valign" id="log" onclick="Materialize.fadeInImage('#image-emotion')" ng-click="showEmotions()">Log My Emotions</button><br><br>
      <div ng-show="viewEmo">
        <ul id="image-emotion">
      <h6 id=new-student-header class="center-align"><b>Today I Feel</b></h6><br>

          <li><div class="card">
              <div class="card-image waves-effect waves-block waves-light" id="happy" ng-click="count = count + 0; emotionsLogged()" ng-init="count=0">
                <img class="activator" src="img/readytolearn.png" alt="happy" width="25">
              </div>
              <div class="card-content yellow accent-4">
                <span class="card-title activator orange-text text-darken-4"><b>HAPPY</b><i class="material-icons right">more_vert</i></span>
                <p><a ng-href="#!/emotions/emotion/exercises/anxiety">Breathing Exercises</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title black-text text-darken-4">A HAPPY STUDENT IS A HAPPY TEACHER!<i class="material-icons right">close</i></span>
                <p><b>Other Words for Happy:</b>
                <br>-Adored
                <br>-Alive
                <br>-Appreciated
                <br>-Cheerful
                <br>-Ecstatic<hr>

                <br><b>Next Steps to Take:</b>
                <br>1) Enjoy the feeling!
                <br>2) Have Fun!
                <br>3) Spread the feeling to those around you!<hr>

              </p>
              </div>

          </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="ready-to-learn" ng-click="count = count + 1; emotionsLogged()" ng-init="count=0">
          <img class="activator" src="img/excited.png" alt="ready-to-learn" width="25">
        </div>
        <div class="card-content yellow accent-4">
          <span class="card-title activator orange-text text-darken-4"><b>READY TO LEARN!</b><i class="material-icons right">more_vert</i></span>
          <p><a ng-href="#!/emotions/emotion/exercises/anxiety">Breathing Exercises</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title black-text text-darken-4">THE TEACHER IS READY TO HELP YOU LEARN!<i class="material-icons right">close</i></span>
          <p><b>Other Words for Happy:</b>
          <br>-Adored
          <br>-Alive
          <br>-Appreciated
          <br>-Cheerful
          <br>-Ecstatic<hr>

          <br><b>Next Steps to Take:</b>
          <br>1) Enjoy the feeling!
          <br>2) Have Fun!
          <br>3) Spread the feeling to those around you!<hr>

          </p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="excited" ng-click="count = count + 2; emotionsLogged()" ng-init="count=0">
          <img class="activator" src="img/excited2.png" alt="excited" width="25">
        </div>
        <div class="card-content orange accent-4">
          <span class="card-title activator white-text text-darken-4"><b>EXCITED!</b><i class="material-icons right">more_vert</i></span>
          <p><a ng-href="#!/emotions/emotion/exercises/anxiety">Breathing Exercises</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title black-text text-darken-4">LETS KEEP THE EXCITEMENT GOING!<i class="material-icons right">close</i></span>
          <p><b>Other Words for Happy:</b>
          <br>-Adored
          <br>-Alive
          <br>-Appreciated
          <br>-Cheerful
          <br>-Ecstatic<hr></p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="focused" ng-click="count = count + 3; emotionsLogged()" ng-init="count=0">
          <img class="activator" src="img/excited.png" alt="focused" width="50">
        </div>
        <div class="card-content orange accent-4">
          <span class="card-title activator white-text text-darken-4"><b>Focused</b><i class="material-icons right">more_vert</i></span>
          <p><a ng-href="#!/emotions/emotion/exercises/anxiety">Breathing Exercises</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title black-text text-darken-4">KEEP UP THE GREAT JOB!<i class="material-icons right">close</i></span>
          <p><b>Other Words for Happy:</b>
          <br>-Adored
          <br>-Alive
          <br>-Appreciated
          <br>-Cheerful
          <br>-Ecstatic<hr></p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="calm" ng-click="count = count + 2; emotionsLogged()" ng-init="count=0">
          <img class="activator" src="img/happy.png" alt="calm" width="50">
        </div>
        <div class="card-content blue accent-4">
          <span class="card-title activator white-text text-darken-4"><b>Calm</b><i class="material-icons right">more_vert</i></span>
          <p><a ng-href="#!/emotions/emotion/exercises/anxiety">Breathing Exercises</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title black-text text-darken-4">KEEP IT UP!<i class="material-icons right">close</i></span>
          <p><b>Other Words for Happy:</b>
          <br>-Adored
          <br>-Alive
          <br>-Appreciated
          <br>-Cheerful
          <br>-Ecstatic<hr></p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="okay" ng-click="count = count + 5; emotionsLogged()">
          <img class="activator" src="img/ok.png" alt="okay" width="50">
        </div>
        <div class="card-content blue accent-4">
          <span class="card-title activator white-text text-darken-4"><b>Okay</b><i class="material-icons right">more_vert</i></span>
          <p><a ng-href="#!/emotions/emotion/exercises/anxiety">Breathing Exercises</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title black-text text-darken-4">If you're okay, Im okay!<i class="material-icons right">close</i></span>
          <p><b>Other Words for Happy:</b>
          <br>-Adored
          <br>-Alive
          <br>-Appreciated
          <br>-Cheerful
          <br>-Ecstatic<hr></p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="bored" ng-click="count = count + 6; emotionsLogged()">
          <img class="activator" src="img/bored.png" alt="bored" width="50">
        </div>
        <div class="card-content blue accent-4">
          <span class="card-title activator white-text text-darken-4"><b>bored</b><i class="material-icons right">more_vert</i></span>
          <p><a ng-href="#!/emotions/emotion/exercises/anxiety">Breathing Exercises</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title black-text text-darken-4">Lets find something FUN to do!<i class="material-icons right">close</i></span>
          <p><b>Other Words for Happy:</b>
          <br>-Adored
          <br>-Alive
          <br>-Appreciated
          <br>-Cheerful
          <br>-Ecstatic<hr></p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="worried" ng-click="count = count + 7; emotionsLogged()">
          <img class="activator" src="img/worried.png" alt="worried" width="50">
        </div>
        <div class="card-content blue accent-4">
          <span class="card-title activator white-text text-darken-4"><b>Worried</b><i class="material-icons right">more_vert</i></span>
          <p><a ng-href="#!/emotions/emotion/exercises/sad">Breathing Exercises</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title black-text text-darken-4">Dont Worry Be HAPPY!<i class="material-icons right">close</i></span>
          <p><b>Other Words for Happy:</b>
          <br>-Adored
          <br>-Alive
          <br>-Appreciated
          <br>-Cheerful
          <br>-Ecstatic<hr></p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="frustrated" ng-click="count = count + 8; emotionsLogged()">
          <img class="activator" src="img/angry.png" alt="frustrated" width="50">
        </div>
        <div class="card-content red accent-4">
          <span class="card-title activator white-text text-darken-4"><b>Frustrated</b><i class="material-icons right">more_vert</i></span>
          <p><a ng-href="#!/emotions/emotion/exercises/anxiety">Breathing Exercises</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title black-text text-darken-4">Everything will be Okay :)<i class="material-icons right">close</i></span>
          <p><b>Other Words for Happy:</b>
          <br>-Adored
          <br>-Alive
          <br>-Appreciated
          <br>-Cheerful
          <br>-Ecstatic<hr></p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="angry" ng-click="count = count + 9; emotionsLogged()">
          <img class="activator" src="img/outofcontrol.png" alt="angry" width="50">
        </div>
        <div class="card-content red accent-4">
          <span class="card-title activator white-text text-darken-4"><b>ANGRY!</b><i class="material-icons right">more_vert</i></span>
          <p><a ng-href="#!/emotions/emotion/exercises/anxiety">Breathing Exercises</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title black-text text-darken-4">Everything will be Okay :)<i class="material-icons right">close</i></span>
          <p><b>Other Words for Happy:</b>
          <br>-Adored
          <br>-Alive
          <br>-Appreciated
          <br>-Cheerful
          <br>-Ecstatic<hr>
          <br><b>Next Steps to Take:</b>
          <br>Enjoy the feeling!
          <br>Have Fun!
          <br>Spread the feeling to those around you!
        </p>
        </div>
    </div></li>

    <li><div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="out-of-control" ng-click="count = count + 10; emotionsLogged()">
          <img class="activator" src="img/sadtears.png" alt="out-of-control" width="50">
        </div>
        <div class="card-content red accent-4">
          <span class="card-title activator white-text text-darken-4"><b>OUT OF CONTROL!!</b><i class="material-icons right">more_vert</i></span>
          <p><a ng-href="#!/emotions/emotion/exercises/anxiety">Breathing Exercises</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title black-text text-darken-4">Everything will be Okay :)<i class="material-icons right">close</i></span>
          <p><b>Similar Feelings to Out Of Control:</b>
          <br>-Hurt
          <br>-Attacked
          <br>-Helpless
          <br>-Exhausted
          <br>-Overwhelmed<hr></p>
        </div>
    </div></li>
</ul>
    <!-- <p>Emotions Total For Today: {{ count }}</p> -->


    </div>

    <!-- manual entry starts -->


    <div class="form-group">
      <i class="material-icons prefix">account_circle</i>
        <label>Student Name:
        <input type="text" class="form-control" ng-value="{{selectedStudent.fullName}}" ng-model="newEmotion.assignedTo">
        </label><br>
      </div>

    <div class="form-group">
      <i class="material-icons prefix">insert_photo</i>
      <label for="Emotion Image">Emotion Image</label>
      <input type="text" class="form-control" placeholder="..." ng-model="newEmotion.image">
    </div>

    <!-- <div class="form-group">
        <label>Emotion Type:</label>
        <input type="text" class="form-control" placeholder="..." ng-model="newEmotion.emotionName">
    </div> -->


    <div class="form-group">
        <i class="material-icons prefix">today</i>
        <label>Date Completed:</label>
        <input type="date" id="date-picker" name="input" ng-model="newEmotion.dateCompleted " placeholder="yyyy-MM-dd" min="2017-01-01" max="2020-12-31" required />
    </div>


    <div class="form-group">
        <i class="material-icons prefix">receipt</i>
        <label>Activity Completed:</label>
        <input type="text" class="form-control" placeholder="..." ng-model="newEmotion.activityCompleted">
    </div>

    <div class="form-group">
        <i class="material-icons prefix">child_care</i>
        <label>Emotions Total For Today: </label>
        <input ng-value="count" id="{{count}}" type="text" name="newEmotion.score" ng-change="count" class="form-control" placeholder="{{ count }}" ng-model="newEmotion.score">
    </div>
<div>
    <h6 id="card-styles">Emotions Logged: {{ counter }}</h6>
    <h6 id="card-styles">Total Emotions Logged Today: {{ counter }}</p>

    <h6 id="card-styles">Student Progress Counter: </h6>

    <progress class="progress" value="{{count}}" max="50">
      Emotion Tracker: {{count}}
  </progress>

  <progress class="progress" value="{{counter}}" max="20">
      Activies Completed: {{counter}}
  </progress>


    <button type="submit" id="log" class="btn btn-primary btn-lg col-xs-2" ng-click="addNewEmotion()">{{btnText}}</button>
