<h1 id="new-student-header" class="center-align">The Zen Zone</h1>
<div ng-controller="ExercisesCtrl">
    <div id="anxiety" class="row valign-wrapper">
        <iframe class="col s12 m12 l12 valign" width="560" height="315" src="https://www.youtube.com/embed/WZKW2Hq2fks" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-fixed-item center">
            <a class="btn waves-effect white grey-text darken-text-2" ng-href="#!/students/:studentId/emotions/new">Breathing Exercise Complete</a>
        </div>
        <div class="carousel-item red white-text" href="#one!">
            <h2>Exercise 1: The Measured Breath</h2>
            <p class="white-text">1) You can sit or stand, but be sure to soften up a little before you begin. <br> 2) Make sure your hands are relaxed, and your knees are soft.<br> 3) Drop your shoulders and let your jaw relax.<br> 4) Now breath in slowly through your nose
                and count to four, keep your shoulders down and allow your stomach to expand as you breathe in.<br> 5) Hold the breath for a moment.<br> 6) Now release your breath slowly and smoothly as you count to seven.<br> 7) Repeat for a couple of
                minutes.</p>
        </div>
        <div class="carousel-item amber white-text" href="#two!">
            <h2>Exercise 2: The Bumble Bee Breath</h2>
            <p class="white-text">1) Relax your shoulders<br> 2) Close your throat slightly so you can hear your breath when you breathe in<br> 3) Cover your ears with your thumbs and your eyes with your fingers<br> 4) Keep your lips closed but lightly and your teeth slightly
                apart with your jaw relaxed and breathe out slowly making a long, low humming sound<br> 5) Make your exhalation long and smooth<br> 6) Repeat 5-10 times<br> 7) Then sit with long slow breaths for a couple of minutes and enjoy the peace.
            </p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
            <h2>Exercise 3: Belly Breathing for Relaxation</h2>
            <p class="white-text">1) Breathe in slowly and deeply through your nose. Make sure your shoulders are down and relaxed. In this exercise, your stomach should expand, but your chest should rise very little. So, if you want, you can place one hand on your stomach
                and the other on your chest so you can feel how you are breathing.<br> 2) Exhale slowly through your mouth. As you blow air out, purse your lips slightly, but keep tongue and jaw relaxed. You may hear a soft “whooshing” sound as you exhale.
                That's good, listen for that sound every time your practice and learn to value it as the sound of relaxation.<br> 3) Repeat this breathing exercise for several minutes. Make your outgoing breath as long and smooth as you can. The out breath
                is the key to relaxation so give it your full attention and practice breathing out in a long slow controlled breath and you will quickly feel the benefit.</p>
        </div>
    </div>
