<!-- <nav class="navbar navbar-default" ng-controller="NavCtrl">
  <div class="container-fluid"> -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Todo App</a>
    </div> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" ng-repeat="thingy in navItems" ng-show="user">
        <li><a href="{{thingy.url}}">{{thingy.name}}</a></li>
      </ul>
    </div>
</div>
</nav> -->


<nav>
   <div class="nav-wrapper" ng-controller="NavCtrl">
     <a href="#" class="edumotion-logo">Logo</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="auth.html">Home</a></li>
       <li><a href="teacher-view.html">My Dashboard</a></li>
       <li><a href="studentlist-view.html">My Students</a></li>
       <li><a href="student-new.html">New Student</a></li>
     </ul>
   </div>
 </nav>
