<h3>New New Students</h3>
<form>
    <div class="form-group">
        <label>Students</label>
        <input type="text" class="form-control" placeholder="New Students" ng-model="newStudent.student">
    </div>

    <div class="form-group">
        <label>Assigned To</label>
        <input type="text" class="form-control" placeholder="My Students" ng-model="newStudent.assignedTo">
    </div>

    <button type="button" class="btn btn-primary btn-lg col-xs-2" ng-click="addNewStudent()">New Student</button>
</form>

  <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
            