<div class="container">
<div class="row">

<section class="content">
     <h1>Student List View</h1>
    <div class="col-xs-8 col-xs-offset-2">
         	<div class="panel panel-default">
               <div class="panel-body">
                    	<div class="pull-right">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
            </span>
            <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
        </div>
    </div>
</div>

<div ng-repeat="student in students | filter: {studentName:studentName} | filter: searchText">
	<div class="panel panel-default">
	    <div class="card-panel">
               <div class="col-xs-1"><input type="checkbox" name="" ng-model="student.id" ng-change="inputChange(student)"></div>
	        <div class="blue-text text-darken-2"><a class="orange-text text-darken-2" href="#/students/view/{{student.id}}">{{student.task}}</a></div>
	        <div class="col-xs-1">{{student.classroomName}}</div>
             <div class="col-xs-1">{{student.uid}}</div>
             <div class="col-xs-1">{{student.image}}</div>
	        <div class="col-xs-1"><button class="btn btn-danger fa fa-trash-o" ng-click="deleteStudent(student.id)"></button></div>
	    </div>
	</div>
</div>
</div>
</section>
</div>
</div>
