<h1>Student: {{selectedStudent.task}}</h1>
<button class="btn btn-info"><a ng-href="#/students/edit/{{selectedStudent.id}}">Edit</a></button>
<h2>Student Info:</h2>
     <p>Student Image: {{selectedStudent.studentImage}}</p>
     <p>Class: {{selectedStudent.classroomName}}</p>
     <p>Grade: {{selectedStudent.gradeLevel}}</p>
     <p>Age: {{selectedStudent.age}}</p>
     <p>Parent First Name: {{selectedStudent.parentFirst}}</p>
     <p>Parent First Name: {{selectedStudent.parentLast}}</p>
     <p>Parent Email: {{selectedStudent.parentEmail}}</p>
