<h3 id="new-student-header" class="center-align">{{title}}</h3>
<div class="img"><img src="img/reading-student-1.png" width="100" class="responsive-img" id="student-reading-1" /></div>
<div class="row" id="new-student-bg">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate" placeholder="" ng-model="newStudentObject.fullName">
                <label class="active" for="Name">Student Name:</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">class_name</i>
                <input id="icon_prefix" type="text" class="validate" placeholder="" ng-model="newStudentObject.classroomName">
                <label class="active" for="Class Name">Class Name</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">insert_photo</i>
                <input id="icon_prefix" type="text" class="validate" placeholder="" ng-model="newStudentObject.image">
                <label class="active" for="Student Image">Student Image</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">filter_1</i>
                <input id="icon_prefix" type="text" class="validate" placeholder="" ng-model="newStudentObject.gradeLevel">
                <label class="active" for="grade">Grade Level</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">person</i>
                <input id="icon_prefix" type="text" class="validate" placeholder="" ng-model="newStudentObject.parentFirst">
                <label class="active" for="Parent First Name">Parent First Name:</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">person_outline</i>
                <input id="icon_prefix" type="text" class="validate" placeholder="" ng-model="newStudentObject.parentLast">
                <label class="active" for="Telephone">Parent Last Name:</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="icon_prefix" type="text" class="validate" placeholder="" ng-model="newStudentObject.parentEmail">
                <label class="active" for="icon_email">Parent Email:</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">location_city</i>
                <input id="icon_prefix" type="text" class="validate" placeholder="" ng-model="newStudentObject.address">
                <label class="active" for="icon_location_city">Student Address:</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">flag</i>
                <input id="icon_prefix" type="text" class="validate" placeholder="" ng-model="newStudentObject.emergencyNumber">
                <label class="active" for="icon_flag">Emergency Contact</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">child_care</i>
                <input id="icon_prefix" type="number" placeholder="" ng-model="newStudentObject.totalScore">
                <label class="active" for="icon_child_care">Manual Emotion Score (optional)</label>
            </div>
            <hr>
            <h6><i>Optional Information:</i></h6>
            <div class="input-field col s6">
                <input type="number" placeholder="" ng-model="newStudentObject.age">
                <label class="active"><i>Age (optional)</i></label>
            </div>
            <div class="input-field col s6">
                <input type="date" id="date-picker" name="input" ng-model="newStudentObject.dateEnrolled">
                <label class="active"><i>Date Enrolled (optional)</i></label>
            </div>
            <div class="input-field col s6">
                <input id="icon_prefix" type="text" class="validate" placeholder="" ng-model="newStudentObject.allergies">
                <label class="active"><i>Allergies (optional)</i></label>
            </div>
        </div>
</div>
</div>
</form>
</div>
<div class="row valign-wrapper">
    <button type="button" class="btn btn-primary btn-lg col s12 m6 l4 #ffb74d orange lighten-2 valign" id="submit-btn" ng-click="addNewStudent()" , "Materialize.toast('I am a toast', 4000)">{{btnText}}</button>
</div>
</div>
