
/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
body {
	font-family: 'Open Sans', sans-serif;
	color: #353535;
      background-image: url("EduMotion.jpg");
}

#nav {
     padding-left: 15px;
}


h1 {
     padding-left: 41%;
}

.btn btn-primary btn-lg col-xs-2 {
     padding-left: 50%;
}

.content h1 {
	text-align: center;
}
.content .content-footer p {
	color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
.content .content-footer p a {
	color: inherit;
	font-weight: bold;
}
>>>>>>> f32aae000433a6271c23612f54a05a1d9763e8e4
